:root {
    font-family: 'Montserrat', sans-serif;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}