:root {
    font-family: 'Montserrat', sans-serif;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    margin: auto;
}

.shopping-list__item, .shopping-list__total, .shopping-list__buttons {
    width: 50%;
}

/* primer formulario datos carrito */
.shopping-list__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.shopping-list form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    margin: 8px 0;
}

.shopping-list form div label {
    font-size: 14px;
}

.shopping-list form div input {
    max-width: 25%;
    border: none;
    background: #fafafa;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
}

/* total carrito */
.shopping-list__total {
    display: flex;
    flex-direction: column;
    padding: 12px;
    /* width: 100%; */
    background-color: #fafafa;
    margin-bottom: 12px;
}

.shopping-list__total__items {
    display: flex;
    flex-direction: row;
}

.shopping-list__total__items span:first-of-type {
    margin-right: 8px;
}

.shopping-list__total__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

.shopping-list__total__price span:first-of-type {
    padding: 8px 0;
}

#total-price {
    margin: 8px 0;
}

/* iconos */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.hide {
    display: none;
}

#hide-price, #hide-name {
    position: absolute;
    right: -82px;
    top: -25px;
    color: #fafafa;
    background-color: hsl(0deg 100% 65%);
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
}

/* tarjeta */
/* .front,
.back {
    display: block;
    transition-duration: .5s;
    transition-property: transform, opacity;
}

.front {
    transform: rotateY(0deg);
}

.back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.front:hover {
    transform: rotateY(180deg);
}

.back:hover {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip {
    position: relative;
    display: inline-block;
}

.front,
.back {
  display: block;
  background-size: cover!important;
  background-position: center!important;
  padding: 1em 2em;
  background: #fafafa;
} */