 :root {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: beige;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    margin: auto;
    
    
}

.credit-card {
	display:flex;
    flex-direction:column;
    align-items: center;
}

.shopping-list__item, .shopping-list__total, .shopping-list__buttons {
    width: 50%;
    
}

/* primer formulario datos carrito */
.shopping-list__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 24px;
    
}

.shopping-list form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
    margin: 8px 0;
}

.shopping-list form div label {
    font-size: 14px;
    
}

.shopping-list form div input {
    max-width: 45%;
    border: none;
    background: #fafafa;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
}

.credit-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 24px;
    
}



/* total carrito */
.shopping-list__total {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(216, 216, 187);
    margin-bottom: 12px;

}

.shopping-list__total__items {
    display: flex;
    flex-direction: row;
}

.shopping-list__total__items span:first-of-type {
    margin-right: 8px;
}

.shopping-list__total__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

.shopping-list__total__price span:first-of-type {
    padding: 8px 0;
}

#total-price {
    margin: 8px 0;
}

/* iconos */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.hide {
    display: none;
}

#hide-price, #hide-name, #hide-owner, #hide-cardNumber, #hide-cvv {
    position: absolute;
    right: -82px;
    top: -25px;
    color: #fafafa;
    background-color: hsl(0deg 100% 65%);
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
}

